.nodata-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  justify-content: center;

    .empty-img {
      background: url("../../../images/nodata.png") no-repeat;
      background-size: cover;
      width: 56px;
      height: 56px;
    }

  span {
    margin-top: 5px;
    color: #92919d;
  }
}

