.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center;

  .error-img {
    background: url("../../../images/error.png");
    background-size: cover;
    width: 112px;
    height: 150px;
  }

  span {
    margin-top: 5px;
    color: #92919d;
  }
}