body {
    .app {
        .artist-container,
        .profile-container,
        .search-container {
            .catalog-container {
                flex-grow: 1;
                width: 100%;

                .discography-panel,
                .similar-artists-panel,
                .artists-panel,
                .playlists-panel,
                .albums-panel,
                .following-panel,
                .followers-panel {
                    .grid {
                        .grid-item {
                            .card {
                                text-align: left;
                                width: 264px;
                                box-shadow: none;
                                overflow: visible;
                            }
                            .media {
                                border-radius: 4px;
                            }
                            .container {
                                padding: 5px;
                                position: relative;
                            }
                            .image {
                                height: 264px;
                                width: 264px;
                            }
                        }
                    }
                }

                .similar-artists-panel,
                .artists-panel,
                .following-panel,
                .followers-panel {
                    .grid {
                        .grid-item {
                            .card {
                                text-align: center;
                            }
                            .media {
                                border-radius: 50%;
                            }

                            .actions-wrapper {
                                left: calc(50% - 18px);
                            }
                            .container {
                                padding: 5px;
                                text-align: center;
                            }
                        }
                    }
                }

                .following-panel,
                .followers-panel {
                    .actions-wrapper {
                        display: none;
                    }
                }
            }
        }

        .album-container,
        .artist-container,
        .playlist-container,
        .profile-container {
            padding: 45px 40px 0;

            .entity-preview {
                display: flex;
                margin-bottom: 40px;
                height: 264px;
                align-items: center;
                .cover-container {
                    position: relative;
                    .play,
                    .zoom {
                        top: 215px;
                    }
                    .play {
                        left: 25px;
                    }

                    .zoom {
                        right: 60px;
                    }
                    .entity-cover {
                        box-shadow: 0 3px 10px rgba(25, 25, 34, 0.56);
                        overflow: hidden;
                        margin: 0 40px 0 0;
                        border-radius: 4px;

                        img {
                            width: 264px;
                            height: 264px;
                            display: block;
                        }
                    }
                }
                .info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    .entity-title {
                        font-size: 30px;
                        margin: 20px 0 5px 0;
                    }
                    .entity-description {
                        font-size: 15px;
                        margin-top: 10px;
                        color: #72727d;
                        line-height: 1.2;
                    }
                    .link-container {
                        display: flex;
                        align-items: center;
                    }
                    .info-list {
                        display: flex;
                        color: #92929d;
                        font-size: 12px;
                        margin-bottom: 10px;

                        .list-item + .list-item {
                            &:before {
                                content: "\B7";
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }

        .artist-container {
            .entity-preview {
                .cover-container {
                    .entity-cover {
                        border-radius: 50%;
                    }
                }
                .info-container {
                    justify-content: center;

                    p {
                        color: #72727d;
                    }
                }
            }
        }

        .profile-container {
            .entity-preview {
                .cover-container {
                    .entity-cover {
                        border-radius: 50%;

                        img {
                            width: 92px;
                            height: 92px;
                            display: block;
                        }
                    }
                }
                .info-container {
                    justify-content: center;

                    .subtitle {
                        &-container {
                            display: flex;
                            font-size: 14px;
                        }

                        &-elem-number {
                            font-weight: 600;
                            display: block;
                        }

                        &-elem-text {
                            text-transform: lowercase;
                            color: #92929d;
                        }

                        &-elem {
                            padding: 0 16px;
                            border-left: 1px solid #dedee3;

                            &:first-of-type {
                                border: none;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }

        .grid {
            .loader-container {
                width: 100%;
            }
            .grid-item {
                padding: 0;
                margin-bottom: 20px;
                .card {
                    text-align: center;
                }
                .image {
                    width: 180px;
                    height: 180px;
                }
            }

            .title {
                font-size: 16px;
                line-height: normal;
                margin-top: 10px;
            }
            .media {
                border-radius: 50%;
                box-shadow: 0 3px 10px rgba(25, 25, 34, 0.36);
                position: relative;
                overflow: hidden;
                cursor: pointer;
                margin: 0 auto 10px;
                &::after {
                    bottom: 0;
                    content: "";
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition-property: opacity, background-color;
                    transition-duration: 0.15s;
                    background-color: #efeff2;
                }
                &:hover {
                    &::after {
                        opacity: 0.35;
                    }
                }
            }
            .released {
                font-size: 12px;
                color: #92929d;
            }
            .fans {
                font-size: 14px;
                color: #92929d;
            }
            .actions-wrapper {
                position: absolute;
                left: 20px;
                top: 215px;
            }
        }
    }

    .modal-dialog {
        outline: none;
        position: relative;

        .close {
            width: 20px;
            height: 20px;
            transform: none;
            top: 10px;
            right: 10px;

            svg {
                font-size: 16px;
            }
        }
    }
}
